<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.sigeris.icab">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icab"
        android:label="icab-jpo"
        android:roundIcon="@drawable/icab"
        android:supportsRtl="true"
        android:theme="@style/Theme.Icabjpo">
        <activity android:name=".Apropos"></activity>
        <activity android:name=".Accueil"
            android:clipChildren="false"
            android:clipToPadding="false"
            android:theme="@style/Theme.acceuil" />
        <activity
            android:name=".McvActivity"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".Agronomie"
        <activity android:name=".GcActivity" android:label="Génie Civil" android:parentActivityName=".Accueil"></activity>
        <activity
            android:name=".GlActivity"
            android:label="Génie Logiciel"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".CgeActivity"
            android:label="Comptabilité et Gestion"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".MavaActivity"
            android:label="Maintenance Après Vente Automobile"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".Accueil"
            android:clipChildren="false"
            android:clipToPadding="false" />
        <activity
            android:name=".McvActivity"
            android:label="Marketing Commerce et Vente"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>