<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.sigeris.icab">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icab"
        android:label="icab-jpo"
        android:roundIcon="@drawable/icab"
        android:supportsRtl="true"
        android:theme="@style/Theme.acceuil">
        <activity android:name=".Accueil"
            android:clipChildren="false"
            android:clipToPadding="false"/>
        <activity android:name=".McvActivity" android:parentActivityName=".Accueil"/>
        <activity android:name=".Agronomie" android:parentActivityName=".Accueil"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>